@font-face {
    font-family: "Rokkitt";
    src: url("../fonts/Rokkitt/Rokkitt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html { 
    background: url(../pictures/sunset-feet.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: #FFF;
    font-family: 'Rokkitt', serif;
    color: #333;
}

.login {
    width: 22%;
    height: 55%;
    background: #333;
    opacity: .7;
    padding: 14px;
    text-align: center;
    position: fixed; /*it can be fixed too*/
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    box-shadow: 5px 5px 5px #333;
    border-radius: 5px;
}

.input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 40px;
}

.password {
    background: url(../icons/locked.png) no-repeat 10px center;
    background-color: #fff;
    background-size: 20px;
}

.username {
    background: url(../icons/american-football-player-icon.png) no-repeat 10px center;
    background-color: #fff;
    background-size: 20px;
    margin-top: 80px;
}

#sign-in-password {
    margin-bottom: 20px;
}

#sign-in-warning {
    visibility: hidden;
    margin-top: 50px;
}

#sign-up-warning {
    visibility: hidden;
    margin-top: 50px;
}

.warning {
    color: #F33;
}

#sign-up-password-2 {
    margin-bottom: 20px;
}

.button {
    margin-bottom: 60px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: #666;
}

.button:hover {
    background: #FFF;
}

#button-sign-in {
    margin-top: 80px;
}

#button-sign-up {
    margin-top: 27px;
}

.copyright{
    color: #FFF;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
    border-radius: 5px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}