@font-face {
    font-family: "Rokkitt";
    src: url("../fonts/Rokkitt/Rokkitt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: 'Rokkitt', serif;
    color: #333;
    font-size: 100%;
}

.pointer:hover {
    cursor: pointer;
}

/* ----------------------- HEADER ELEMENTS -------------------------------- */

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    background: #EEE;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    border-bottom-style: double;
    border-bottom-color: #AAA;
    -webkit-user-select: none;
    text-align: center;
    font-size: 30px;
}

footer {
    position: fixed;
    width: 100%;
    top: 97%;
    padding: 5px;
    background: #EEE;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    border-bottom-style: double;
    border-bottom-color: #AAA;
    text-align: right;
    font-size: 20px;
}

.credit {
    padding-right: 20px;
}

.page-logo {
    background: url(../icons/logo/TipSixLogo.png) no-repeat center left;
    height: 100px;
    width: 20%;
    display: block;
    position: fixed;
    text-align: left;
    border-right-style: double;
    border-right-color: #AAA;
    background-size: contain;
}

.page-logo:hover {
    cursor: pointer;
}

.page-title {
    display: block;
    position: fixed;
    top: 25px;
    left: 25%;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

.profile {
    width: 250px;
    position: fixed;
    left: 85%;
}

.profile-picture {
    width: 64px;
    height: 64px;
    margin-top: 20px;
    border-radius: 50%;
    float: left;
    background-size: 64px;
}

.profile-name {
    padding-top: 20px;
    font-size: 30px;
}

.logout {
   font-size: 18px;
}

/* ----------------- SIDEBAR ------------------------ */

sidebar {
    position: fixed;
    width: 20%;
    height: 40%;
    top: 0px;
    margin-top: 103px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #EEE;
    border-right-style: double;
    border-right-color: #AAA;
    font-size: 30px;
    -webkit-user-select: none;
    z-index: 10;
}

.addNewGroup {
    position: fixed;
    top: 121px;
    left: 1%;
    border-radius: 50%;
    background: #000;
    color: #FFF;
    width: 50px;
    height: 50px;
    font-size: 40px;
}

.addNewGroup:hover {
    background: #FFF;
    color: #000;
    cursor: pointer;
}

.createGroup {
    display: block;
    position: fixed;
    top: 135px;
    left: 4%;
    padding: 0;
    left: 6%;
    font-size: 0.75em;
    text-align: left;
}

.searchGroup {
    display: block;
    position: fixed;
    top: 220px;
    left: 1%;
    padding: 0;
    font-size: 0.75em;
    text-align: left;
}

.defaultCursor {
    cursor: default;
}

.sidebarMyGroups {
    height: 75%;
    width: 20%;
    display: block;
    position: fixed;
    margin-top: 50px;
    background-color: #DDD;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    border-right-style: double;
    border-right-color: #AAA;
    border-top-style: double;
    border-top-color: #AAA;
}

.searchGroups {
    margin-top: 100px;
    margin-left: 15px;
    z-index: 1;
    width: 200px;
    height: 40px;
    font-size: 20px;
    left: 1%;
}

.myGroups {
    display: block;
    margin-top: 20px;
    margin-left: 30%;
    padding: 0;
    font-size: 0.75em;
    text-align: left;
}

.groupList {
    overflow-y: scroll;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    padding-left: 1px;
    font-size: 0.75em;
    list-style-type: none;
    display: block;
    font-size: 25px;
}

::-webkit-scrollbar { 
    width: 15px;
    background: rgba(80, 80, 80, 0.4);
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background: rgba(80, 80, 80, 0.9);
}

.groupListEntry {
    position: relative;
    width: 93%;
    height: 120px;
    border-style: solid;
    border-color: #AAA;
    margin-bottom: 2px;
    padding: 12px;
    border-right-style: none;
    border-width: 1px;
}

.groupListEntry:hover {
    cursor: pointer;
    background-color: #CCC;
}

.groupListImage {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    border-radius: 50%;
    border: 4px solid #FFF;
}

.groupListName {
    position: absolute;
    font-size: 40px;
    left: 135px;
    top: 30px;
}

.groupListNFL {
    position: absolute;
    font-size: 20px;
    left: 135px;
    top: 90px;
}

.groupListAFVBY {
    position: absolute;
    font-size: 20px;
    left: 210px;
    top: 90px;
}

.image {
    border-radius: 50%;
    border: 4px solid #FFF;
}

.profileName {
    margin-left: 150px;
}

.profileFirstName {
    margin-left: 117px;
}

.teams {
    margin-left: 6px;
}

.position {
    margin-left: 18px;
}

.inClubInput {
    margin-left: 60px;
}

tabbar {
    background: url(../pictures/american-football-155961_1280.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    margin-left: 20.15%;
    margin-top: 104px;
    overflow: auto;
}


nav ul ul {
	display: none;
    z-index: 50;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
	background: #EEE; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	padding: 0 20px;
	list-style: none;
	position: relative;
    margin-top: 0px;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
	
nav ul li:hover {
	background: #AAA;
}
		
nav ul li:hover a {
	color: #EEE;
}
	
nav ul li a {
	display: block; 
    padding: 25px 40px;
	color: #000;
    text-decoration: none;
}

nav ul ul {
	background: #AAA; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	
nav ul ul li {
    float: none; 
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	position: relative;
    min-width: 100px;
}
	
nav ul ul li a {
	padding: 15px 40px;
	color: #AAA;
}	

nav ul ul li a:hover {
    background: #DDD;
    color: #000;
}

nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    margin: 50px;
    z-index: -20;
}

.list {
    list-style: none;
    display: inline-block;
    background-color: rgba(80, 80, 80, 0.4);
    width: 450px;
    height: 350px;
    padding: 15px;
    overflow: auto;
}

.userListEntry {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #555;
    margin: 10px 0px 0px 10px;
    padding: 10px;
}

.userDescription {
    position: absolute;
    display: block;
    border-radius: 0px 10px 10px 0px;
    top: 35px;
    left: 130px;
    font-size: 30px;
}

.userAddButton {
    display: block;
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 50px;
    border-radius: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.userAddButton:hover {
    background-color: #AAA;
    cursor: pointer;
}

.userName {
    display: block;
}

.userImage {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.buttonSaveNewGroup {
    position: absolute;
    top: 70%;
    left: 55%;
    background-color: #33DD44;
    border-style: solid;
    border-color: #FFF;
    border-width: 2px;
    font-size: 70px;
    border-radius: 50%;
    padding: 0px 18px 0px 18px;
}

#addGroupContent {
    padding-left: 25%;
    font-size: 25px;
    color: #FFF;
    width: 800px;
    z-index: -10;
}

.giveGroupName {
    margin-bottom: 0px;
}

#trophy {
    position: absolute;
    background: url(../icons/groups/group-trophy.jpg) no-repeat center;
    background-size: 120px;
}

#football {
    position: absolute;
    left: 150px;
    background: url(../icons/groups/group-football.jpg) no-repeat center;
    background-size: 120px;
}

#clothes {
    position: absolute;
    top: 150px;
    background: url(../icons/groups/group-clothes.jpg) no-repeat center;
    background-size: 120px;
}

#strategy {
    position: absolute;
    top: 150px;
    left: 150px;
    background: url(../icons/groups/group-strategy.jpg) no-repeat center;
    background-size: 120px;
}
/* ------------------------ GROUP CONTENT ---------------------------- */

.groupSide {
    position: relative;
    font-size: 25px;
    color: #FFF;
    width: 100%;
    height: 100%;
    z-index: -50;
    margin: 0px;
}

.groupHeader {
    position: absolute;
    color: #000;
}

.groupImageBig {
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: 200px;
}

.groupNameBig {
    position: absolute;
    font-size: 6em;
    left: 230px;
    
}

.groupNFL {
    position: absolute;
    font-size: 1.5em;
    left: 240px;
    top: 150px;
}

.groupAFVD {
    position: absolute;
    font-size: 1.5em;
    left: 320px;
    top: 150px;
}

.groupDescription {
    position: absolute;
    top: 250px;
}

.groupChat {
    position: absolute;
    width: 600px;
    left: 0px;
    top: 310px;
}

.messages {
    position: absolute;
    width: 620px;
    height: 280px;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.messageboardEntry {
    position: relative;
    width: auto;
    height: 40px;
    color: #000;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    background-color: #FFF;
}

.messageLayout {
    position: absolute;
    top: 0px;
    left: 0px;
}

.message {
    position: absolute;
    width: 350px;
    top: 10px;
    left: 10px;
    
}

.messageAuthor {
    position: absolute;
    top: 13px;
    left: 390px;
    color: #999;
    font-size: 15px;
}

.timestamp {
    position: absolute;
    top: 13px;
    font-size: 15px;
    width: 120px;
    left: 480px;
    color: #999;
}

.messageboardInput {
    position: absolute;
    top: 320px;
    left: 0px;
}

.messageInput {
    width: 510px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #888 inset;
}

.send {
    position: absolute;
    left: 530px;
    top: 0px;
    padding: 5px;
}

.highscoreTable {
    position: absolute;
    width: 400px;
    left: 900px;
    top: 170px;
}

.highScoreList {
    position: absolute;
    width: 400px;
    height: 400px;
    list-style: none;
    padding: 20px;
    padding-left: 70px;
    overflow: auto;
    background-color: rgba(80, 80, 80, 0.5);
}

.highscoreEntry {
    position: relative;
    width: auto;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 30px;
    margin: 10px 0px 15px 0px;
    border-radius: 10px;
}

.highscoreTableEntry {
    position: absolute;
    top: 0px;
    left: 0px;
}

.highscoreEntryImage {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -3px;
    left: -50px;
}

.highscoreEntryName {
    position: absolute;
    top: 25px;
    left: 90px;
    font-size: 35px;
    letter-spacing: 2px;
}

.highscoreTableScore {
    position: absolute;
    top: 28px;
    left: 300px;
}

#addUserToHighscore {
    position: absolute;
    top: 490px;
    left: 0px;
    width: 300px;
}

.add {
    position: absolute;
    top: 490px;
    left: 330px;
    padding: 5px;
}

.groupContent {
    position: relative;
    z-index: -10;
    color: #FFF;
    top: 500px;
    padding 0px;
}

.week {
    position: absolute;
    left: 34.7%;
    font-size: 30px;
    background-color: rgba(80, 80, 80, 0.4);
    z-index: -50;
    color: #FFF;
    -webkit-user-select: none;
}

#nfl-count-results:hover {
    cursor: default;
}

.resultList {
    position: absolute;
    overflow: auto;
    background: none;
    height: 63%;
    padding: 20px 20px 0px 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    z-index: -10;
    list-style: none;
}

.result-list-entry {
    height: auto;
    width: 1000px;
    background: #DDD;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.result-list-entry:hover {
    background: #DDD;
}

.team-infos {
    position: relative;
    top: 27px;
    left: 50px;
}

.guest-score {
    position: absolute;
    font-size: 50px;
    top: -30px;
    padding: 20px 0px 20px 230px;
    background-color: rgba(255, 0, 0, 0);
}

.guest-name {
    position: absolute;
}

.at {
    position: absolute;
    font-size: 25px;
    color: #AAA;
    left: 290px;
}

.home-name {
    left: 440px;
    position: absolute;
    text-align: right;
}

.home-score {
    position: absolute;
    font-size: 50px;
    left: 320px;
    top: -10px;
}

.helmet-image {
    float: right;
    margin-right: 40px;
}

.football-image {
    float: left;
    margin-left: 40px;
}

#date {
    position: absolute;
    font-size: 20px;
    left: 220px;
    top: -35px;
}

#time {
    position: absolute;
    font-size: 20px;
    left: 320px;
    top: -35px;
}

.input {
    width: 200px;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #888 inset;
}

.half-input {
    width: 250px;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 25px;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: #FFF;
}

.profileContent {
    padding-left: 25%;
    font-size: 25px;
    color: #FFF;
    width: 500px;
    height: 100%;
    
}

.profileHeader {
    position: absolute;
    margin-top: 60px;
    
}

.profileInput {
    position: absolute;
    padding-top: 230px;
    
}

.profileImage {
    width: 120px;
    height: auto;
}

.nickname {
    font-size: 100px;
    padding-left: 40px;
}

.imageChooser {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.8);
    width: 300px;
    height: 300px;
    left: 140px;
    border-radius: 20px;
    visibility: hidden;
}

.imageChoose {
    width: 120px;
    height: 120px;
    margin: 15px;
}

#blue {
    position: absolute;
    background: url(../icons/player/american-football-player-blue.jpg) no-repeat center;
    background-size: 120px;
}

#white {
    position: absolute;
    left: 150px;
    background: url(../icons/player/american-football-player-white.jpg) no-repeat center;
    background-size: 120px;
}

#black {
    position: absolute;
    top: 150px;
    background: url(../icons/player/american-football-player-black.jpg) no-repeat center;
    background-size: 120px;
}

#red {
    position: absolute;
    top: 150px;
    left: 150px;
    background: url(../icons/player/american-football-player-red.jpg) no-repeat center;
    background-size: 120px;
}

.selected {
    border-width: 6px;
    border-color: #333;
}

.chooseLeague {
    padding-bottom: 25px;
}

.warning {
    color: #F33;
    background-color: rgba(80, 80, 80, 0.4);
    font-size: 20px;
    margin-left: 20px;
}

content {
    margin-left: 20px;
}

td, th {
    border: 2px solid #555;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #eee;
}

.down {
    color: red;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}

.up {
    color: green;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}

.equal {
    color: black;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}

.previousWeek {
    display: inline;
    padding-right: 10px;
    color: black;
}

.nextWeek {
    display: inline;
    padding-left: 10px;
    color: black;
}

/*
.gameday {
    position: absolute;
    left: 34.2%;
    top: 190px;;
    font-size: 30px;
    background-color: rgba(80, 80, 80, 0.4);
    -webkit-user-select: none;
}

.previousDay {
    display: inline;
    padding-right: 10px;
    color: black;
}

.nextDay {
    display: inline;
    padding-left: 10px;
    color: black;
}
*/

.chooseUserInGroup {
    margin-left: 10%;
}

.hilfstextUserToGroup {
    color: white;
    font-size: 1em;
}

.listOfUsersInActualGroup {
    background: none;
}

.userListEntryGroup {
    font-size: 1.5em;
    color: white;
    background-color: transparent;
}

.tippList {
    position: absolute;
    width: 55%;
    height: 550px;
    list-style: none;
    overflow-y: auto;
    border: 2px solid black;
    border-bottom: none;
    left: 10%;
    top: 180px;
    z-index: -10;
    box-shadow: 0px 5px 5px #999;
}

.tipp {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(200, 200, 200);
    color: #000;
    font-size: 20px;
    border-bottom: 2px solid black;
}

.tipp-layout {
    position: absolute;
    height: 40px;
    padding-right: 20px;
    padding-top: 10px;
    border-right: 2px solid black;
}

.tipp-date {
    width: 12%;
    top: 0px;
    left: -40px;
    padding-left: 60px;
    background-color: rgb(200, 200, 200);
    border-bottom: 2px solid black;
}

.tipp-time {
    width: 5%;
    top: 0px;
    left: 18%;
    padding-left: 20px;
}

.tipp-guest {
    width: 12%;
    top: 0px;
    left: 30%;
    padding-left: 20px;
}

.tipp-home {
    width: 12%;
    top: 0px;
    left: 50%;
    padding-left: 20px;
}

.tipp-actualGuestScore {
    width: 3%;
    top: 0px;
    left: 68%;
}

.tipp-actualHomeScore {
    width: 3%;
    top: 0px;
    left: 75%;
}

.tipp-actualScore {
    width: 100px;
    top: 0px;
    left: 528px;
    padding-left: 20px;
}

.tipp-tippScore {
    width: 100px;
    top: 0px;
    left: 670px;
    padding-left: 20px;
    padding-right: 36px;
    border: none;
}

#saveTippsForOneWeek {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 75%;
    left: 68%;
}

.header {
    background-color: rgb(150, 150, 150);
}

.tipp-input {
    position: absolute;
    height: 40px;
    width: 6%;
    padding: 0px 12px 10px 16px;
    border: none;
    border-right: 2px solid black;
    outline: none;
    background: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: inherit;
    font-size: inherit;
}

#tipp-guestscore {
    top: 0px;
    left: 80%;
}

#tipp-homescore {
    top: 0px;
    left: 89%;
    border: none;
}

#results-nfl {
    position: relative;
    left: 18%;
    z-index: -50;
}

.results-big-image {
    position: absolute;
    width: 45%;
    height: 250px;
}

.results-big-background {
    position: absolute;
    width: 45%;
    height: 100px;
    top: 150px;
    background-color: rgba(80, 80, 80, 0.7);
}

.big-results-title {
    position: absolute;
    top: 20px;
    left: 45%;
    font-size: 60px;
    color: #FFF;
}

#results-gfl1 {
    position: relative;
    left: 18%;
    top: 270px;
    z-index: -50;
}

#results-gfl2 {
    position: relative;
    left: 43%;
    top: 270px;
    z-index: -50;
}

#results-regional {
    position: relative;
    left: 18%;
    top: 490px;
    z-index: -50;
}

#results-bavarian {
    position: relative;
    left: 43%;
    top: 490px;
    z-index: -50;
}

.results-small-image {
    position: absolute;
    width: 20%;
    height: 200px;
}

.results-small-background {
    position: absolute;
    width: 20%;
    height: 70px;
    top: 130px;
    background-color: rgba(80, 80, 80, 0.7);
}

.small-results-title {
    position: absolute;
    top: 20px;
    left: 35%;
    font-size: 30px;
    color: #FFF;
}

#subresults-gfl1 {
    position: relative;
    left: 18%;
    top: 100px;
    z-index: -50;
}

#subresults-gfl2 {
    position: relative;
    left: 43%;
    top: 100px;
    z-index: -50;
}

#subresults-regional {
    position: relative;
    left: 18%;
    top: 320px;
    z-index: -50;
}

#subresults-bavarian {
    position: relative;
    left: 43%;
    top: 320px;
    z-index: -50;
}

.season-over {
    color: #FFF;
    background-color: rgba(80, 80, 80, 0.5);
    font-size: 40px;
}

#changeProfileData {
    position: absolute;
    width: 80px;
    height: 40px;
    left: 45%;
    top: 68%;
}